@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1dfdd;
  color: #000000;
  overflow-x: hidden;
}

@media (max-width: 880px) {
  body h1 {
    font-size: 3rem;
  }
  body #intro .about-me {
    padding: 1rem 0 0 1rem;
  }
  body #intro .social {
    padding-left: 1rem;
    padding-top: 0;
  }
  body #intro .title {
    margin-right: 1rem;
  }
  body #intro .menu {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 50%;
    margin-top: 10rem;
    scale: 0.8;
  }
  body #intro .menu .link2 {
    grid-column: 1;
  }
}
@media (max-width: 520px) {
  body #intro .social {
    min-width: 50vw;
  }
  body #intro .social .platforms {
    gap: 0;
    align-items: start;
    padding-bottom: 1rem;
    flex-direction: column;
  }
  body #intro #mainNav .menu {
    max-width: 140px;
  }
  body #work .w_intro {
    margin-left: 1rem;
  }
}
@media (max-width: 320px) {
  body h1 {
    font-size: 2rem;
  }
  body h4 {
    font-size: revert;
  }
  body #intro p {
    font-size: 14px;
  }
  body #intro .social .platforms i {
    font-size: 2rem;
  }
  body #mainNav .menu {
    scale: 0.6;
  }
  body #work .w_intro h3 {
    font-size: 1.5rem;
  }
  body #work .projects .project {
    height: 80vh;
    height: 80svh;
  }
  body #work .projects .project img {
    height: auto;
  }
}
.show {
  opacity: 1;
  pointer-events: all;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-size: 5rem;
}

section {
  height: 100vh;
  height: 100svh;
}

#mainNav {
  display: flex;
  justify-content: center;
}
#mainNav .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 336px;
  height: 85%;
}
#mainNav .menu :nth-child(1) {
  position: relative;
}
#mainNav .menu :nth-child(2) {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}
#mainNav .menu a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(66, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainNav .menu a span {
  transition: 1s;
  margin: 0 6px;
}
#mainNav .menu .link1 a::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(219, 45, 72);
}
#mainNav .menu .link1 .arrow {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 3px solid rgb(66, 54, 54);
  border-right: 3px solid rgb(66, 54, 54);
  transform: translate(-50%, -50%) rotate(45deg);
  top: 25px;
  left: 22px;
  transition: 1s;
  z-index: 1;
  pointer-events: none;
}
#mainNav .menu .link1 .arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgb(66, 54, 54);
  transform: rotate(-45deg);
  left: 7px;
  top: 9px;
  pointer-events: none;
  transition: 1s;
}
#mainNav .menu .link1:hover a span {
  transform: translateX(18px);
}
#mainNav .menu .link1:hover a::before {
  filter: brightness(0.9);
}
#mainNav .menu .link1:hover .arrow {
  left: 55px;
}
#mainNav .menu .link1:hover .arrow::before {
  width: 25px;
  left: -4px;
  top: 7px;
}
#mainNav .menu .link2 a::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(219, 45, 72);
}
#mainNav .menu .link2 .arrow {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgb(66, 54, 54);
  border-left: 3px solid rgb(66, 54, 54);
  transform: translate(-50%, -50%) rotate(45deg);
  top: 25px;
  right: 0;
  transition: 1s;
  z-index: 1;
  pointer-events: none;
}
#mainNav .menu .link2 .arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgb(66, 54, 54);
  transform: rotate(-45deg);
  left: 7px;
  top: 9px;
  pointer-events: none;
  transition: 1s;
}
#mainNav .menu .link2:hover a span {
  transform: translateX(-18px);
}
#mainNav .menu .link2:hover a::after {
  filter: brightness(0.9);
}
#mainNav .menu .link2:hover .arrow {
  right: 35px;
}
#mainNav .menu .link2:hover .arrow::after {
  width: 25px;
  left: -4px;
  top: 7px;
}

#intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
#intro .about-me {
  width: 50vw;
  padding: 3rem 0 0 3rem;
}
#intro .about-me p {
  margin-top: 3rem;
  width: 80%;
  min-width: 141px;
}
#intro .social {
  min-width: 50vw;
  max-width: 40vw;
  position: relative;
  padding-left: 3rem;
  padding-top: 1rem;
  z-index: 1;
}
#intro .social .platforms {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: start;
}
#intro .social .platforms :nth-child(3) {
  padding-left: 4px;
}
#intro .social .platforms :nth-child(3) a {
  position: relative;
}
#intro .social .platforms :nth-child(3) a::after {
  content: "CV";
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60%);
}
#intro .social .platforms a {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(66, 54, 54);
  transition: all 0.5s;
}
#intro .social .platforms a:hover {
  color: rgb(219, 45, 72);
}
#intro .title {
  margin-right: 3rem;
  margin-bottom: 1rem;
}
#intro .title .name {
  position: absolute;
  bottom: 0;
  right: 0;
}
#intro .title h4 {
  text-align: right;
}
#intro .title h1 {
  text-align: right;
}
#intro #topBtn {
  transition: all 0.5s ease-out;
  font-size: 2rem;
  position: fixed;
  bottom: 10px;
  right: 15px;
  color: rgb(219, 45, 72);
  cursor: pointer;
  z-index: 1000;
}
#intro #topBtn :hover {
  scale: 1.3;
}

#work {
  height: 100%;
}
#work .w_intro {
  margin-top: 6rem;
  margin-left: 3rem;
}
#work .w_intro h6 {
  color: rgb(219, 45, 72);
}
#work .w_intro span {
  font-family: "Lobster Two", cursive;
}
#work .projects {
  margin-top: 3rem;
  padding: 0;
}
#work .projects .project {
  box-shadow: 0 0 16px 4px rgb(66, 54, 54);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 22px;
  height: 50vh;
  height: 65svh;
  width: clamp(255px, 80%, 1400px);
  margin: 3rem auto;
}
#work .projects .project .proj_info {
  width: clamp(255px, 100%, 400px);
  display: grid;
  height: 50%;
  align-items: center;
  text-align: center;
}
#work .projects .project .proj_info .project-about {
  width: 74%;
  margin: 0 auto;
}
#work .projects .project .siteBtn {
  text-decoration: none;
  font-weight: 500;
  color: rgb(235, 227, 240);
  margin: 0 8px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e1dfdd;
  color: rgb(66, 54, 54);
  transition: all 0.2s ease-in;
}
#work .projects .project .siteBtn:hover {
  color: #e1dfdd;
  background-color: rgb(219, 45, 72);
  cursor: pointer;
}
#work .projects img {
  width: clamp(225px, 50%, 70vw);
  border-radius: 22px;
  object-fit: cover;
}

#contact {
  position: relative;
  color: rgb(66, 54, 54);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
#contact #emailForm {
  width: 40vw;
}
#contact #emailForm form {
  display: flex;
  flex-direction: column;
}
#contact #emailForm form label {
  margin-top: 1rem;
  font-weight: 500;
}
#contact #emailForm form input {
  border-radius: 5px;
  height: 2.3rem;
  padding: 0 5px;
}
#contact #emailForm form #msg {
  border-radius: 5px;
  resize: none;
  padding: 5px;
  border: 2px solid;
  overflow: auto;
}
#contact #emailForm form #msg::-webkit-scrollbar {
  width: 1rem;
}
#contact #emailForm form #msg::-webkit-scrollbar-track {
  background-color: rgb(235, 227, 240);
  border-radius: 100vw;
  margin-block: 0.5em;
}
#contact #emailForm form #msg::-webkit-scrollbar-thumb {
  background: rgb(219, 45, 72);
  border-radius: 100vw;
}
#contact #emailForm form #msg::-webkit-scrollbar-thumb:hover {
  background: rgb(78, 152, 55);
}
#contact #emailForm form button {
  margin-top: 1rem;
  background-color: rgb(219, 45, 72);
  color: #e1dfdd;
  border-radius: 5px;
  border: none;
}
#contact #emailForm form button:hover {
  background-color: rgb(78, 152, 55);
}
#contact #coffee {
  position: relative;
  min-width: 600px;
  height: 60%;
  border-radius: 42% 56% 32% 28%/55% 42% 50% 46%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: url("https://images.unsplash.com/photo-1626790477331-add9bde2fdce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
  background-size: cover;
  background-position: 70% 50%;
}
#contact .cup {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 236px;
  height: 240px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 39%;
  border-bottom-right-radius: 39%;
}
#contact .top {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}
#contact .circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  overflow: hidden;
}
#contact .liquid {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#361500, #e28462);
  border-radius: 50%;
}
#contact .handle {
  position: absolute;
  right: -66px;
  top: 30px;
  width: 160px;
  height: 180px;
  border: 25px solid #dcdcdc;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
}
#contact .plate {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 70%;
  height: 200px;
  background: linear-gradient(to right, #f9f9f9, #e7e7e7);
  border-radius: 50%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}
#contact .plate::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}
#contact .plate::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
}
#contact .vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}/*# sourceMappingURL=index.css.map */