$black: #000000;
$white: #e1dfdd;
$green: #34eb7a;
$mossGreen: rgb(78,152,55);
$cobble: rgb(235,227,240);
$redWood: rgb(219,45,72);
$bark: rgb(66,54,54);
// cup colors
$cup: #dcdcdc;
$cup-light: #f9f9f9;
$cup-dark: #d9d9d9;
$plate-shadow: #e7e7e7;
$liquid-dark: #361500;
$liquid-light: #e28462;
// $liquid-dark: #467700;
// $liquid-light: #689400;