@use './components/wrapper';
@use "./abstracts/forward" as *;

$coffee-img: 'https://images.unsplash.com/photo-1626790477331-add9bde2fdce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80';


.show {
    opacity: 1;
    pointer-events: all;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-size: 5rem;
}

section {
    height: 100vh;
}

#mainNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    align-items: center;
    top: 79px;
    right: 11%;
    height: 47%;

    :nth-child(1) {
        grid-column: 2;
    }

    :nth-child(2) {
        grid-row: 2;
        padding: 0 15px;
    }

    :nth-child(3) {
        grid-column: 2;
        grid-row: 3;
        padding: 0 15px;
    }

    a {
        font-size: 2rem;
        text-decoration: none;
        color: $bark;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:hover {
        background-color: $redWood;
        color: $white;
        border-radius: 15px;
    }
}

#intro {

    .about-me {
        width: 50vw;
    }

    .opening1 {
        position: absolute;
        top: 80px;
        left: 40px;
    }

    .social {
        display: flex;
        gap: 55px;
        margin-top: 35px;
        
        > * {
            font-size: 3rem;
            cursor: pointer;
            color: $bark;

            :hover {
                color: $redWood;
            }

        }


        :last-child{

            position: relative;

            ::after {
                content: "resume";
                font-size: 1rem;
                position: absolute;
                letter-spacing: 2px;
                bottom: -20px;
                left: -50%;
            }
        }
    }

    .opening2 {
        bottom: 35px;
        right: 20px;
        position: absolute;

        h4 {
            text-align: right;
        }

        h1 {
            text-align: right;
        }
    }

    #topBtn {
        transition: all 0.5s ease-out;
        font-size: 2rem;
        position: fixed;
        bottom: 10px;
        right: 15px;
        color:$redWood;
        cursor: pointer;
        z-index: 1000;
        // filter: invert(100%);

        :hover {
            scale: 1.3;
        }
    }

}

#work {
    background-color: $bark;
    color: $cobble;
    height: 100%;

    .projects-nav {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 20px;
    }

    .pn-item {
        text-align: center;
        list-style: none;
        margin: 0 10px;
        padding: 5px;
        transition: transform .5s ease-out;
    }
    
    .pn-item:hover {
        cursor: pointer;
        transform: translateY(-10%);
    }

    .proj-active {
        /* font-weight: bold; */
        transition: background-color 0.25s ease-in-out, transform .5s ease-out;
        background-color:$redWood;
        border-radius: 10px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        .project {
            // width: 400px;
            // height: 500px;
            text-align: center;
            // padding-top: 2rem;
            // margin-bottom: 2rem;
            margin: 20px;
            cursor: pointer;
            transition: all .3s;
        }

        .project:hover {
            transform: scale(1.05);
        }

        img {
            width: 400px;
            height: 210px;
            border-radius: 20px;
        }

    }

}

#work::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 21px;
    background: linear-gradient(to top, $bark, transparent);
    z-index: 1;
}

#about {
    display: flex;
    justify-content: center;
    position: relative;

    .skill-logos {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 4.5rem;
        gap: 1rem;
    }
}

#about::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 21px;
    background: linear-gradient(to bottom, $bark, transparent);
    z-index: 1;
}

.disappear {
	display: none;
}

.appear {
	display: block;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    // z-index: 30;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    z-index: 10;
}

.modalContainer {
    // display: flex;
    // height: 35vh;
    // justify-content: center;

    // padding-top: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    width: 600px;
    height: 420px;
    text-align: left;
    color: $cobble;
    background-color: $bark;
    // color: $bark;
    // background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;


    img {
        object-fit: cover;
        width: 50%;
        padding: 17px;
        border-radius: 34px;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: 1rem;

        .project-about {
            height: 90px;
            overflow: auto;
        }

        .project-about::-webkit-scrollbar { // this is the entire scrollbar; needs a width!
            width: 1rem;
        }
        .project-about::-webkit-scrollbar-track { // this targets the track of the bar
            background-color: $cobble;
            border-radius: 100vw;    
            margin-block: .5em; // logic property for just top and bottom of margin
        
        }
        .project-about::-webkit-scrollbar-thumb { // targets the thumb of the bar
            background: $redWood;
            border-radius: 100vw;
        }
        .project-about::-webkit-scrollbar-thumb:hover {
            background: $mossGreen;
        }
    
        button {
            background: none;
            color: $cobble;
            border: 1px solid $cobble;
            border-radius: 6px;
            right: 15px;
            top: 15px;
            position: absolute;
            width: 26px;
            height: 28px;
            font-weight: bold;
        }

        button:hover {
            background-color: $redWood;
        }

        .siteBtn {
            text-decoration: none;
            font-weight: 500;
            color: $cobble;
            margin: 0 8px;
            padding: 5px;
            border-radius: 10px;
            background-color: $white;
            color: $bark;
            transition: all .2s ease-in;
        }

        .siteBtn:hover {
            color: $white;
            background-color: $redWood;
        }

        .project-btns {
            // position: absolute;
            // bottom: 25px;
            // left: 50%;
            // transform: translate(-50%);
            text-align: center;
        }

    }

}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 21px;
    background: linear-gradient(to bottom, $bark, transparent);
    z-index: 3;
}

#contact {
    position: relative;
    color: $bark;
    @include flexDisplay(row, space-around);

    #emailForm {
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        width: 40vw;


        form {
            display: flex;
            flex-direction: column;

            label {
                margin-top: 1rem;
                font-weight: 500;
            }

            input {
                border-radius: 5px;
                height: 2.3rem;
                padding: 0 5px;
            }

            #msg {
                border-radius: 5px;
                resize: none;
                padding: 5px;
                border: 2px solid;
                overflow: auto;
            }

            #msg::-webkit-scrollbar { // this is the entire scrollbar; needs a width!
                width: 1rem;
            }
            #msg::-webkit-scrollbar-track { // this targets the track of the bar
                background-color: $cobble;
                border-radius: 100vw;    
                margin-block: .5em; // logic property for just top and bottom of margin
            
            }
            #msg::-webkit-scrollbar-thumb { // targets the thumb of the bar
                background: $redWood;
                border-radius: 100vw;
            }
            #msg::-webkit-scrollbar-thumb:hover {
                background: $mossGreen;
            }

            button {
                margin-top: 1rem;
                background-color: $redWood;
                color: $white;
                border-radius: 5px;
                border: none;
            }

            button:hover {
                // color: $bark;
                background-color: $mossGreen;
            }

        }
    }

    #coffee {
        position: relative;
        min-width: 600px;
        height: 60%;
        border-radius: 42% 56% 32% 28% / 55% 42% 50% 46%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
        background: url($coffee-img);
        background-size: cover;
        background-position: 70% 50%;
      }
      
      .cup {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%);
        width: 236px;
        height: 240px;
        background: linear-gradient(to right, $cup-light, $cup-dark);
        border-bottom-left-radius: 39%;
        border-bottom-right-radius: 39%;
      }
      
      .top {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(to right, $cup-light, $cup-dark);
        border-radius: 50%;
      }
      
      .circle {
        position: absolute;
        top: 5px;
        left: 10px;
        width: calc(100% - 20px);
        height: 50px;
        background: linear-gradient(to left, $cup-light, $cup-dark);
        border-radius: 50%;
        overflow: hidden;
        // box-sizing: border-box;
      }
      
      .liquid {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient($liquid-dark, $liquid-light);
        border-radius: 50%;
      }
      
      .handle {
        position: absolute;
        right: -66px;
        top: 30px;
        width: 160px;
        height: 180px;
        border: 25px solid $cup;
        border-left: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-radius: 50%;
        transform: rotate(42deg);
      }
      
      .plate {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        // width: 500px;
        min-width: 70%;
        height: 200px;
        background: linear-gradient(to right, $cup-light, $plate-shadow);
        border-radius: 50%;
        box-shadow: 0 35px 35px rgba(0,0,0,0.2);
      }
      
      .plate::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        background: linear-gradient(to left, $cup-light, $plate-shadow);
      }
      
      .plate::after {
        content: '';
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        border-radius: 50%;
        background: radial-gradient(rgba(0,0,0,0.2) 25%, transparent, transparent);
      }
      
      .vapour {
        position: relative;
        display: flex;
        z-index: 1;
        padding: 0 20px;
      }
      
    //   .vapour span {
    //     position: relative;
    //     bottom: 50px;
    //     display: block;
    //     margin: 0 2px 50px;
    //     min-width: 8px;
    //     height: 120px;
    //     background: #fff;
    //     border-radius: 50%;
    //     animation: vapour 5s linear infinite;
    //     opacity: 0;
    //     filter: blur(8px);
    //     animation-delay: calc(var(--i) * -0.5s)
    //   }

}

@keyframes vapour {
    0% {
      transform: translateY(0) scaleX(1);
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    50% {
      transform: translateY(-150px) scaleX(5)
    }
    95% {
      opacity: 0;
    }
    100% {
      transform: translateY(-300px) scaleX(10)
    }
  }